body {
    background-color: #ffeaa7;
    font-family: "Architects Daughter", cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-size: 130%;
    min-height: 70vh;
    /* padding: 1rem;
    box-sizing: border-box;
    display: flex; */
    
   
  }
  .container{
    background: #f1f5f8;
    width: 30%;
    height: auto;
    min-height: 620px;
    max-width: 500px;
    overflow: auto;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    box-sizing: border-box;
    padding: 1rem;
    position: absolute;
  }
  .heading{
    align-items: center;
    justify-content: center;
  }
  .heading h1{
    background-color: #fdcb6e;
    font-size: 1.5rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    padding: 0.2rem 1.2rem;
    transform: rotate(1deg);
  }
  .Calender{
      float: right;
      width: 69%;
      height: auto;
  }
  .calender-box{
    float: right;
    background-color: rgb(237, 203, 130);
    width: 60%;
    height: auto;
    margin-right: 5%;
  }
  .grid{
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(220, 207, 188);
    display: grid;
    position: relative;
  }
  
  .grid-date{
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    
  }
  .grid-item {
    border-radius: 7%;
    padding: 20px;
    font-size: 30px;
    
    
  }
  .num{
    cursor: pointer;
  }
  .num:hover{
    background-color: rgb(245, 241, 235);
  }
  .extra{
    border: 2px solid grey;
    
    background-color: rgb(215, 175, 75);
  }
  .line{
    border-style: none;
    border-bottom: 4px dashed #fdcb6e;
    background-color: #f1f5f8;
    height: 1.5em;
    width: calc(100% - 100px);
    float: left;
    background-color: transparent;
    font-family: "Architects Daughter", cursive;
    font-size: 1.5rem;
    color: hsla(260, 2%, 25%, 0.7);
  }

  button{
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
  }
  button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
  }
  li {
    text-align: left;
    position: relative;
    padding: 0.5rem;
    margin-bottom: -1em;
  }
  .bin {
    float: right;
  }
  .grid1{
    display: grid;
    width: 100%;
    grid-template-columns: auto 2em;
  
    background-color: powderblue;
  }
  .color{
    background-color: peachpuff;
  }
  .mau{
    background-color: plum;
  }
  .middle{
    padding-bottom: -2em;
    padding-top: -2em;

  }
  .mau{
    text-align: center;
    justify-content: center;
  }