body {
    background-color: #ffeaa7;
    font-family: "Architects Daughter", cursive;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: hsl(198, 1%, 29%);
    font-size: 130%;
    min-height: 70vh;
    /* padding: 1rem;
    box-sizing: border-box;
    display: flex; */
    
   
  }
  